# ignore cache
**/.DS_Store
**/*.pyc
**/__pycache__/**

# skip raw input (size too big)
raw_input/**

# skip global input
input/**

# skip global output
output/*.txt
output/*.log

# skip temp data
insight_testsuite/temp/**

# skip build for testing cmake
**/build/**

# skip executable
find_political_donors
